<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul>li {
            list-style-type: none;
        }
    </style>
</head>
<body>
  <h1>The Brand Update Page</h1>
  <form th:action="@{/brand/doUpdateBrand}" method="post">
      <input type="hidden" name="id" th:value="${brand.id}">
      <ul>
          <li>name</li>
          <li><input type="text" name="name" th:value="${brand.name}"></li>
          <li>remark</li>
          <li><textarea rows="5" cols="50" name="remark" th:text="${brand.remark}"></textarea></li>
          <li><input type="submit" value="Save"></li>
      </ul>
  </form>
</body>
</html>